@{
    ViewData["Title"] = "Aboutdfgdfgdgf";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.gdfggd</p>
<p>changes from my feature</p>
<p>rebasing changesxvdfgdfg</p>
